html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  /* height: 100%; */
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
}

body {
  overflow: hidden;
}

/*#fullscreen {
  height: 100%;
  width: 100%;
}*/

.homescreen {
  height: 100%;
  margin: 0;
  padding: 20vh 20vw;
  background-color: #F7F7F7;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.homescreen > * {
  margin: 0 0 12px 0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 50px;
  color: #424242;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #424242;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #424242;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #E4E2E5;
}

a {
  font-weight: 900;
  color: #424242;
  text-decoration: none;
  background: none;
}

/* a:hover {
  transition: all 0.2s linear;
} */

.trye:hover {
  color: #F6C443
}

.msft:hover {
  transition: all 0.2s linear;
  background: rgb(226,95,56);
  /* background: linear-gradient(135deg, rgba(226,95,56,1) 0%, rgba(73,161,233,1) 36%, rgba(140,184,56,1) 62%, rgba(245,188,65,1) 99%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.insta:hover {
  background: rgb(235,177,98);
  background: linear-gradient(135deg, rgba(235,177,98,1) 0%, rgba(198,88,92,1) 36%, rgba(168,54,129,1) 62%, rgba(86,94,196,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dev:hover {
  color: #ED6B66
}

.item {
  color: #424242;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 6px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  position: fixed;
  left: 1%;
  bottom: 2%;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 20px;
  z-index: 105;
}

.button-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.link {
  margin: 0 5px;
  text-decoration: none;
  color: #424242;
  opacity: .6;
}

.link:hover {
  opacity: 1;
}

/*---------------------------*/

.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}
.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/*p h o t o s h o o t s*/
